
body {
  margin: 0;
}


.central{
  background-color: green;
  margin-left: 0;
  margin-right: 300px;
  height: 700px;
}

.left{
  height: 300px;
  width: 300px;
  background-color:blue;
  color: #fff;
  position: fixed;
  bottom: -270px;
  left: -240px;
}

  .pop-up {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    position: absolute;
    display: block;
    top: 0;
    right: 0;

  }

  .left:target {
  	left: 0;
  	bottom: 0;
  }

.mobileaction-bar {
  position: absolute;
  float: left;
  bottom: 0;
  left: 0;

}

.tab {
  float:left;
}

.tab label {
    background: #eee;
    padding: 10px;
    cursor: pointer;
    width: 90px;
    text-align: center;
    display: block;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
}
.tab label i {
    font-style: normal;
    font-size: 10px;
    color: #aaa;
}
.tab [type=radio] {
    display: none;
}

/* RESOLVI MUDAR TUDO!
  (╯°□°)╯~ ┻━┻

input[type=radio;]

/* lembrete de usabilidade das pseudo-classes no radio
  textarea:focus {
    background: pink;
  }

  It is best practice to cover all of the "states", particularly for links. An easy way to do that is "LOVE HATE" or

L :link
O
V :visited
E

H :hover
A :active
T
E

Doing them in that order is ideal.

  a:link {
    color: blue;
  }
  a:visited {
    color: purple;
  }
  a:hover {
    color: green;
  }
  a:active {
    color: red;
  }

  [data-value] {
    /* Attribute exists
  }

  [data-value="foo"] {
     Attribute has this exact value
  }

  [data-value*="foo"] {
    /* Attribute value contains this value somewhere in it
  }

  [data-value~="foo"] {
    /* Attribute has this value in a space-separated list somewhere
  }

  [data-value^="foo"] {
    /* Attribute value starts with this
  }

  [data-value=|"foo"] {
    /* Attribute value has this in a dash-separated list somewhere
  }

  [data-value$="foo"] {
    /* Attribute value ends with this
  }

  div[attribute="value"] {}
  .module[attribute="value"] {}
  #header[attribute="value"] {}
  img[alt~="person"][src*="lorem"] {}

  exemplo: http://jsfiddle.net/paullferguson/Sv54G/3/
  https://css-tricks.com/almanac/selectors/c/checked/
  https://css-tricks.com/almanac/selectors/d/default/
  https://css-tricks.com/almanac/selectors/e/enabled/
  https://css-tricks.com/almanac/properties/t/transition/

*/
